<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>background-tasking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00BDBE431EB0036D00FA1F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00BDBE571EB0036D00FA1F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00BDBE621EB0036D00FA1F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
